In [1]:
print('my name is karan')

my name is karan

In [11]:
a=2000
if a<1000:
    print('u can buy BMW')
    elif a>1000:
    print('u can buy bike')
else:
    print('u cannot buy')

SyntaxError: invalid syntax (<ipython-input-11-b575d913e822>, line 4)

In [1]:
p=a

NameError: name 'a' is not defined

In [2]:
p

NameError: name 'p' is not defined

In [3]:
a=100

In [4]:
a

100

In [5]:
a=xyz

NameError: name 'xyz' is not defined

In [6]:
a=1x

SyntaxError: invalid syntax (<ipython-input-6-295cce84f01c>, line 1)

In [22]:
a=apple

NameError: name 'apple' is not defined

In [8]:
a

1978575

In [11]:
type(a)

int

In [10]:
a

1978575

In [13]:
a

197.297

In [14]:
type(a)

float

In [15]:
a

197.297

In [16]:
a

197.297

In [18]:
a

(2+3j)

In [19]:
type(a)

complex

In [20]:
a

(2+3j)

In [23]:
a

(2+3j)

In [24]:
type(a)

complex

In [26]:
print('applwe')

applwe

In [30]:
b=18897876

In [28]:
type(b)

str

In [31]:
print(b)

18897876

In [32]:
b

18897876

In [36]:
a='pravhfhs'
print(a)

pravhfhs

In [38]:
print('thid ibs my mbhjfsh')

thid ibs my mbhjfsh

In [39]:
a=100
print(a)

100

In [ ]:
# fshvg kjgfyax jfjaxg

In [45]:
#p is the var hat i m usig here
#p=16645

In [46]:
p

16645

In [5]:
a=2+4j

In [48]:
a

'this is me'

In [50]:
a.imag

4.0

In [51]:
a.real

2.0

In [52]:
a.conjugate

In [4]:
a

2000

In [6]:
a

(2+4j)

In [7]:
a.imag

4.0

In [8]:
a.real

2.0

In [9]:
a.conjugate

In [10]:
2**3

8

In [3]:
'pra'+str(1)

'pra1'

In [4]:
int(1)

1

In [5]:
int('3445')

3445

In [6]:
int('prabhalar')

ValueError: invalid literal for int() with base 10: 'prabhalar'

In [ ]:
a=input()

In [ ]:
a=input()

In [1]:
x=input()

3

In [2]:
x**33

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [3]:
x

'3'

In [8]:
p=int(input())

sophjv

ValueError: invalid literal for int() with base 10: 'sophjv'

In [1]:
p

NameError: name 'p' is not defined

In [2]:
a

NameError: name 'a' is not defined

In [3]:
a=10.300
type(a)

float

In [4]:
print(a)

10.3

In [5]:
a.imag

0.0

In [7]:
True+True

2

In [8]:
6%3

0

In [10]:
5**2

25

In [13]:
'prab'*3

'prabprabprab'

In [14]:
'prabh'+'akar'

'prabhakar'

In [ ]:
b='prabhakar'
a='1'
str(a)
print('a+b')

In [18]:
a

1

In [20]:
'sudh'+str(3)

'sudh3'

In [21]:
a=3.2468
int(a)

3

In [ ]:
a=input()
print(yes baby)

In [ ]:
b='prabhakar'
a='1'
str(a)
print('a+b')

In [ ]:
a

In [ ]:
a

In [ ]:
a=50

In [1]:
a"

SyntaxError: EOL while scanning string literal (<ipython-input-1-6a632b871630>, line 1)

In [2]:
a

NameError: name 'a' is not defined

In [3]:
a=50

In [4]:
a

50

In [5]:
b='prabhakar'
a='1'
str(a)
print('a+b')

a+b

In [6]:
a=100
print(a)

100

In [7]:
print(the is my calss)

SyntaxError: invalid syntax (<ipython-input-7-4021c6950267>, line 1)

In [1]:
a=[1,3,4,6,7,8,9]

In [2]:
type(a)

list

In [5]:
p=[1,3.45,'prabhakar',3+4j,[2,4,5,8,9]]

In [2]:
p

[1, 3.45, 'prabhakar', (3+4j)]

In [3]:
p[3]

(3+4j)

In [4]:
p[-1]

(3+4j)

In [6]:
p

[1, 3.45, 'prabhakar', (3+4j), [2, 4, 5, 8, 9]]

In [7]:
p[4][-2]

8

In [10]:
q='salman jhan'
q[3]

'm'

In [11]:
p

[1, 3.45, 'prabhakar', (3+4j), [2, 4, 5, 8, 9]]

In [18]:
p[800::-1]

[[2, 4, 5, 8, 9], (3+4j), 'prabhakar', 3.45, 1]

In [19]:
range(20)

range(0, 20)

In [20]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
list(range(2,21))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
list(range(3,101,3))

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [27]:
i=[[23,234,45,454,545,45],[234,545,6456,546,645,665],[45,34,544,54,54,'sudh'],'sudh','kumar']

In [38]:
i[1][2]

6456

In [5]:
s='prab'
s[-2]

'a'

In [7]:
p=[23,34,65.4532,'prabhakar']

In [23]:
p[0:-2]

[23, 34]

In [9]:
a=int(input('enter something'))
if a>10:
    print('u have nothing')
else:
    print('oh yeee')

enter something3
oh yeee

In [11]:
l=[2,3,4,5,6]
for a in l:
    print(a+2)

4
5
6
7
8

In [16]:
i=[2,3,45,5,6,7,8,92,3,4,5,6,7]
for q in i:
    if q>=90:
        print(q)
    else:
        print("noo")

noo
noo
noo
noo
noo
noo
noo
92
noo
noo
noo
noo
noo

In [16]:
i=[20,10,5,'prab','jha']
for p in i:
   
    if type(p)==str:
        print(p)

prab
jha

In [1]:
l = [[23,234,45,454,545,45],[234,545,6456,546,645,665],[45,34,544,54,54,"sudh"],"sudh","kumar"]
l2 = []
for i in l :
    if type(i) == list:
        l2.append(i[2])
print(l2)

[45, 6456, 544]

In [4]:
l = [23,234,45,454,545,45]
for i in l :
    print(i)

23
234
45
454
545
45

In [5]:
l = [[23,234,45,454,545,45],[234,545,6456,546,645,665],[45,34,544,54,54,"sudh"],"sudh","kumar"]

In [10]:
a=1
p=0
while a<=10:
    p=p+a
    a=a+1
print(p)

55

In [23]:
for a in 'prabhakar':
    if a=='h':
        continue
    print(a)

p
r
a
b
a
k
a
r

In [1]:
a=[2,3,4,5]

In [8]:
type(a)

tuple

In [5]:
a(3)

TypeError: 'tuple' object is not callable

In [6]:
a

(2, 3, 4, 5)

In [7]:
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [1]:
type(a)

NameError: name 'a' is not defined

In [2]:
a=[2,3,4,5]

In [3]:
type(a)

list

In [5]:
a[0]=1
print(a)

[1, 3, 4, 5]

In [8]:
a={}

In [11]:
type(a)

set

In [9]:
a

{2, 3, 4, 5}

In [12]:
b={}
type(b)

dict

In [13]:
a

{2, 3, 4, 5}

In [14]:
a={2543,4,55,23,2,'prabhakat','a'}

In [15]:
a

{2, 23, 2543, 4, 55, 'a', 'prabhakat'}

In [19]:
a=set()
print(a)

set()

In [20]:
type(a)

set

In [21]:
q={2,3,4,5,77,80,7}

In [3]:
q={2,3,4,5,77,80,7}
l=list(q)

In [5]:
l[0:3]

[2, 3, 4]

In [6]:
s=set(l)

In [7]:
s

{2, 3, 4, 5, 7, 77, 80}

In [8]:
a=(2,3,4,5)

In [15]:
list(a)
l[0]=23

In [16]:
l

[23, 3, 4, 5]

In [14]:
tuple(l)

(23, 3, 4, 5)

In [18]:
a={'b':234,'c':'prab'}
a['b']

234

In [19]:
s='prab'

In [21]:
s[0]=q

TypeError: 'str' object does not support item assignment

In [2]:
a={'b':234,'c':'prab','s':{2,3,4,5,8}}
list(a['s'])[4]

8

In [5]:
a={'d':{'c':'prab'}}
a['d']['c']

'prab'

In [2]:
a={'b':234,'c':'prab','s':{2,3,4,5,8}}

In [4]:
a.keys

In [7]:
l=[{2,3,4,5},(7,8,9),[1,2,4,5]]
for i in l:
    if type(i)==list:
        for k in i:
            if k==3:
                print("yes there is 3")
            else:
                print("no 3 sry")

no 3 sry
no 3 sry
no 3 sry
no 3 sry

In [10]:
d={'name':'jhaji','num':123456,'mail_id':'prab@gmail.com','l':[1,2,3,4]}
for i in d.items():
    if type(i[1])==list:
        for j in i:
            if j>2:
                print("value",j)

TypeError: '>' not supported between instances of 'str' and 'int'

In [13]:
d.values()

dict_values(['jhaji', 123456, 'prab@gmail.com'])

In [21]:
d

{'name': 'jhaji',
 'num': 123456,
 'mail_id': 'prab@gmail.com',
 'l': [1, 2, 3, 4]}

In [7]:
l=[1,2,3,4,5]
for i in l:
    print(i)
    if i==3:
        break
else:
    print('say what u can')
print('out of loop')

1
2
3
out of loop

In [1]:
for i in range(0,10):
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

*
**
***
****
*****
******
*******
********
*********
**********

In [1]:
a=2
while a<=5:
    print('yess')
    a=a+1

yess
yess
yess
yess

In [1]:
z=2
while z<=7:
    print(z)
    z=z+1

2
3
4
5
6
7

In [7]:
s='''Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the five Big Tech companies along with Amazon, Facebook, Apple, and Microsoft.[9][10][11]

Google was founded in September 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its shares and control 56% of the stockholder voting power through super-voting stock. Google was incorporated in California on September 4, 1998. Google was then reincorporated in Delaware on October 22, 2002.[12] In July 2003, Google moved to its headquarters in Mountain View, California, nicknamed the Googleplex. The company became a public company via an initial public offering (IPO) on August 19, 2004. In October 2015, Google reorganized as a subsidiary of a conglomerate called Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet interests. Sundar Pichai was appointed CEO of Google, replacing Larry Page, who became the CEO of Alphabet. In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[13]'''

In [8]:
s

"Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. It is considered one of the five Big Tech companies along with Amazon, Facebook, Apple, and Microsoft.[9][10][11]\n\nGoogle was founded in September 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14% of its shares and control 56% of the stockholder voting power through super-voting stock. Google was incorporated in California on September 4, 1998. Google was then reincorporated in Delaware on October 22, 2002.[12] In July 2003, Google moved to its headquarters in Mountain View, California, nicknamed the Googleplex. The company became a public company via an initial public offering (IPO) on August 19, 2004. In October 2015, Google reorganized as a subsidiary of a conglomerate called Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet interests. Sundar Pichai was appointed CEO of Google, replacing Larry Page, who became the CEO of Alphabet. In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees.[13]"

In [10]:
for p in s.split('.'):
    print(p)

Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware
 It is considered one of the five Big Tech companies along with Amazon, Facebook, Apple, and Microsoft
[9][10][11]

Google was founded in September 1998 by Larry Page and Sergey Brin while they were Ph
D
 students at Stanford University in California
 Together they own about 14% of its shares and control 56% of the stockholder voting power through super-voting stock
 Google was incorporated in California on September 4, 1998
 Google was then reincorporated in Delaware on October 22, 2002
[12] In July 2003, Google moved to its headquarters in Mountain View, California, nicknamed the Googleplex
 The company became a public company via an initial public offering (IPO) on August 19, 2004
 In October 2015, Google reorganized as a subsidiary of a conglomerate called Alphabet Inc
 Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet interests
 Sundar Pichai was appointed CEO of Google, replacing Larry Page, who became the CEO of Alphabet
 In 2021, the Alphabet Workers Union was founded, mainly composed of Google employees
[13]

In [18]:
s.title()

"Google Llc Is An American Multinational Technology Company That Specializes In Internet-Related Services And Products, Which Include Online Advertising Technologies, A Search Engine, Cloud Computing, Software, And Hardware. It Is Considered One Of The Five Big Tech Companies Along With Amazon, Facebook, Apple, And Microsoft.[9][10][11]\n\nGoogle Was Founded In September 1998 By Larry Page And Sergey Brin While They Were Ph.D. Students At Stanford University In California. Together They Own About 14% Of Its Shares And Control 56% Of The Stockholder Voting Power Through Super-Voting Stock. Google Was Incorporated In California On September 4, 1998. Google Was Then Reincorporated In Delaware On October 22, 2002.[12] In July 2003, Google Moved To Its Headquarters In Mountain View, California, Nicknamed The Googleplex. The Company Became A Public Company Via An Initial Public Offering (Ipo) On August 19, 2004. In October 2015, Google Reorganized As A Subsidiary Of A Conglomerate Called Alphabet Inc. Google Is Alphabet'S Largest Subsidiary And Is A Holding Company For Alphabet'S Internet Interests. Sundar Pichai Was Appointed Ceo Of Google, Replacing Larry Page, Who Became The Ceo Of Alphabet. In 2021, The Alphabet Workers Union Was Founded, Mainly Composed Of Google Employees.[13]"

In [16]:
s.lower()

"google llc is an american multinational technology company that specializes in internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware. it is considered one of the five big tech companies along with amazon, facebook, apple, and microsoft.[9][10][11]\n\ngoogle was founded in september 1998 by larry page and sergey brin while they were ph.d. students at stanford university in california. together they own about 14% of its shares and control 56% of the stockholder voting power through super-voting stock. google was incorporated in california on september 4, 1998. google was then reincorporated in delaware on october 22, 2002.[12] in july 2003, google moved to its headquarters in mountain view, california, nicknamed the googleplex. the company became a public company via an initial public offering (ipo) on august 19, 2004. in october 2015, google reorganized as a subsidiary of a conglomerate called alphabet inc. google is alphabet's largest subsidiary and is a holding company for alphabet's internet interests. sundar pichai was appointed ceo of google, replacing larry page, who became the ceo of alphabet. in 2021, the alphabet workers union was founded, mainly composed of google employees.[13]"

In [32]:
s='This IS My Pen'
s.capitalize()

'This is my pen'

In [23]:
s.title()

'This Is What It Is'

In [24]:
s.lower()

'this is what it is'

In [3]:
m='prab'
m.join('this is my name')

'tprabhprabiprabsprab prabiprabsprab prabmprabyprab prabnprabaprabmprabe'

In [9]:
for i in 'hak':
    a='prab'
    a=i+a
    print(a)

hprab
aprab
kprab

In [13]:
m='prab'
m.replace('a','$')

'pr$b$njnu$nude$'

In [16]:
m='prab'

In [21]:
m.isdigit()

False

In [22]:
l=[1,2,3]

In [23]:
l.append(56)

In [24]:
l

[1, 2, 3, 56]

In [26]:
l+[99]

[1, 2, 3, 56, 99]

In [27]:
l

[1, 2, 3, 56]

In [34]:
l.pop(2)

IndexError: pop index out of range

In [1]:
l=[1,2,3,4]
l.reverse()

l=[1,2,3]
l.pop()

In [2]:
l=[1,2,3,4]

In [4]:
l.pop()

1

In [3]:
a=[1,2,3]
a.reverse()

In [4]:
a

[3, 2, 1]

In [6]:
for i in 123:
    print(i)

TypeError: 'int' object is not iterable

In [13]:
q=[1,2,3,'prab','jha',[8,7,9,9]]
q.extend(['karan',2,3,4])

In [12]:
q

[1, 2, 3, 'prab', 'jha', [8, 7, 9, 9], 2, 3, 4]

In [14]:
q

[1, 2, 3, 'prab', 'jha', [8, 7, 9, 9], 'karan', 2, 3, 4]

In [12]:
p='loolopop'
p.find(l)

NameError: name 'l' is not defined

In [11]:
p='1,2,3'
p.replace('3','5')

'1,2,5'

In [2]:
def jha():
    a=int(input('enter fst val'))
    b=int(input('enter sec val'))
    c=a+b
    print(c)

In [3]:
jha()

enter fst val2
enter sec val3
5

In [ ]:
for p in range(10):
    jha()

In [ ]:
jha()

In [3]:
def jha():
    a=int(input('enter fst val'))
    b=int(input('enter sec val'))
    print(a+b)

In [4]:
jha()

enter fst val2
enter sec val1
3

In [ ]:
for p in range(10):
    jha()

enter fst val2
enter sec val3
5
enter fst val4
enter sec val8
12

In [ ]:
def jha(a,b):
    print(a+b)

In [15]:
def jha(a,b):
    print(a+b)

In [13]:
a='kk'
b='ja'
print(a+b)

kkja

In [16]:
jha(3,4)

7

In [19]:
def test(b,v,z=9):
    '''this fun is for addition'''
    print('result',b+v+z)

In [27]:
test(3,5)+'prab'

result 17

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [53]:
def jha(a,b):
    return a,b

In [56]:
jha(3,6)+'kk'

TypeError: can only concatenate tuple (not "str") to tuple

In [28]:
def test1(a,b,c):
        return (a,b,c)

In [29]:
test1([3,2,123],9,8)

([3, 2, 123], 9, 8)

In [1]:
def jha(dictin):
    strlist=[]
    for i in dictin.values():
        if type(i)==str:
            strlist.append(i)
    return strlist

In [30]:
def pra():
    a=input()
    b=input()
    c=int(input())
    return{'name':a,'mail_id':b,'phone_no':c}

In [31]:
pra()

pra
ag@jhzdbc
123

{'name': 'pra', 'mail_id': 'ag@jhzdbc', 'phone_no': 123}

In [3]:
def jha(dictin):
    strlist=[]
    for i in dictin.values():
        if type(i)==str:
            strlist.append(i)
    return strlist

In [6]:
jha('name':'prabhakar','num':123)

SyntaxError: invalid syntax (<ipython-input-6-5313d174a0ac>, line 1)

In [25]:
def pra(*args):
    if len(args)>10:
        for i in args:
            return(i)

In [26]:
type(pra(2,3,4))

NoneType

In [24]:
a=122,333124689,3
len(a)

3

In [32]:
def jhava(a,x):
    return x

In [34]:
type(jhava(2,3))

int

In [35]:
def jhava(*klp):
    return klp

In [36]:
type(jhava(2,3))

tuple

In [39]:
def jhavaa(**klpp):
    return klpp

In [40]:
type(jhavaa())

dict

In [52]:
def karan(**a):
    l=[]
    for i in a.values():
        if type(i)==list:
            l.append(i)
    return l

In [53]:
karan(a='prabhakar',b=[2,98,3,4,55],c=(2,3,4))

[[2, 98, 3, 4, 55]]

In [57]:
def karana(**a):
    for i in a.values():
        if type(i)==list:
            return i

In [58]:
karana(a='prabhakar',b=[2,98,3,4,55],c=(2,3,4))

[2, 98, 3, 4, 55]

In [16]:
r=lambda *args,a:a

In [22]:
r('a'=2,4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-22-362e459cb707>, line 1)

In [43]:
t=lambda *v:{i:i+2 for i in v}

In [44]:
t(2,80,3,4,6)

{2: 4, 80: 82, 3: 5, 4: 6, 6: 8}

In [54]:
z=lambda *m:{i:i**2 for i  in m}

In [55]:
z(2,9,6,8)

{2: 4, 9: 81, 6: 36, 8: 64}

In [2]:
"""Program to find numbers that are divisible by 7 but are not multiple of 5 between 2000 to 3200"""
l=[]
for i in range(2000,3201):
    if i% 7==0:
        if i% 5!=0:
            l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [73]:
l

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [37]:
a=[234,567,987]
a[1][0]

TypeError: 'int' object is not subscriptable

In [38]:
lst = [i for i in range(2000, 3201) if i % 7 == 0 if i % 5 != 0] 
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [17]:
"""code to accept first and last name from user and reverse them with a space in between"""
a=input('enter the fst name')
b=input('enter the last name')
print(b+" "+a)

enter the fst namePrabhakar
enter the last nameJha
Jha Prabhakar

In [16]:
firstname = input("Input your First Name : ")
lastname = input("Input your Last Name : ")
print ( lastname + " " + firstname)

Input your First Name : karan
Input your Last Name : jha
jha karan

In [3]:
l=[]
w=[2,3,4,5]
for i in w:
    l.append(i-1)

In [4]:
l

[1, 2, 3, 4]

In [31]:
def jha(a,b):
    return (a+b)

In [33]:
jha(4,8)

12

In [41]:
[p for p in range(2000,3201) if p%7==0 if p%5!=5]

[2003,
 2010,
 2017,
 2024,
 2031,
 2038,
 2045,
 2052,
 2059,
 2066,
 2073,
 2080,
 2087,
 2094,
 2101,
 2108,
 2115,
 2122,
 2129,
 2136,
 2143,
 2150,
 2157,
 2164,
 2171,
 2178,
 2185,
 2192,
 2199,
 2206,
 2213,
 2220,
 2227,
 2234,
 2241,
 2248,
 2255,
 2262,
 2269,
 2276,
 2283,
 2290,
 2297,
 2304,
 2311,
 2318,
 2325,
 2332,
 2339,
 2346,
 2353,
 2360,
 2367,
 2374,
 2381,
 2388,
 2395,
 2402,
 2409,
 2416,
 2423,
 2430,
 2437,
 2444,
 2451,
 2458,
 2465,
 2472,
 2479,
 2486,
 2493,
 2500,
 2507,
 2514,
 2521,
 2528,
 2535,
 2542,
 2549,
 2556,
 2563,
 2570,
 2577,
 2584,
 2591,
 2598,
 2605,
 2612,
 2619,
 2626,
 2633,
 2640,
 2647,
 2654,
 2661,
 2668,
 2675,
 2682,
 2689,
 2696,
 2703,
 2710,
 2717,
 2724,
 2731,
 2738,
 2745,
 2752,
 2759,
 2766,
 2773,
 2780,
 2787,
 2794,
 2801,
 2808,
 2815,
 2822,
 2829,
 2836,
 2843,
 2850,
 2857,
 2864,
 2871,
 2878,
 2885,
 2892,
 2899,
 2906,
 2913,
 2920,
 2927,
 2934,
 2941,
 2948,
 2955,
 2962,
 2969,
 2976,
 2983,
 2990,
 2997,
 3004,
 3011,
 3018,
 3025,
 3032,
 3039,
 3046,
 3053,
 3060,
 3067,
 3074,
 3081,
 3088,
 3095,
 3102,
 3109,
 3116,
 3123,
 3130,
 3137,
 3144,
 3151,
 3158,
 3165,
 3172,
 3179,
 3186,
 3193,
 3200]

In [10]:
z=lambda a:[b+2 for b in range(a) if b>=5]

In [11]:
z(11)

[7, 8, 9, 10, 11, 12]

In [64]:
def jha(*a):
    for i in a:
        if type(i)==list:
            return i

In [65]:
jha(23,45.879,3+9j,"kaana",[2,99,653,35])

[2, 99, 653, 35]

In [66]:
def add(a,b):
    return a+b

In [67]:
add(9,8)

17

In [69]:
[b for b in range(11) if b>=5]

[5, 6, 7, 8, 9, 10]

In [77]:
def addtwo(n):
    for i in n:
        return n+[2]

In [81]:
list((addtwo([34,56,79,23])))

[34, 56, 79, 23, 2]

In [17]:
def uff(a):
    for i in a:
        return a+2

In [14]:
t=lambda *a:[i+2 for i in a]

In [16]:
t(2,3)

[4, 5]

In [12]:
z=lambda a:[b+2 for b in range(a) if b>=5]

In [13]:
z(11)

[7, 8, 9, 10, 11, 12]

In [1]:
def uff(a):
    for i in a:
        return i+2

In [4]:
uff([2,3,4])

4

In [12]:
p=[]
for i in 4,5,6:
    p.append(i+2)

In [13]:
p

[6, 7, 8]

In [14]:
l=[4,5,6]
a=map(l+2,l)

TypeError: can only concatenate list (not "int") to list

In [15]:
[i+2 for i in [2,4,5]]

[4, 6, 7]

In [27]:
l=[2,5,6]
list(map(lambda l:l+2,l))

[4, 7, 8]

In [24]:
a()

In [29]:
l=[2,3,4,'sudh',6,'kumar']
def conv(n):
    return str(n)

In [31]:
list(map(conv,l))

['2', '3', '4', 'sudh', '6', 'kumar']

In [33]:
list(map(lambda a:str(a),l))

['2', '3', '4', 'sudh', '6', 'kumar']

In [41]:
l=[2,3,4,'sudh',6,'kumar']
def opera(n):
        if type(n)==int:
            return (n+2)
        else:
            return (n+'ok')

In [42]:
list(map(opera,l))

[4, 5, 6, 'sudhok', 8, 'kumarok']

In [8]:
a=lambda l:[i+2 for i in l if type(i)==int else i+'ok']

SyntaxError: invalid syntax (<ipython-input-8-6575e1397dcb>, line 1)

In [9]:
list(map(lambda a:a+2 if type(a)==int else a+'ok',l))

NameError: name 'l' is not defined

In [13]:
from functools import reduce

In [14]:
reduce()

TypeError: reduce expected at least 2 arguments, got 0

In [19]:
l=[2,3,4,5]
a=0
for i in l:
    a=a+i

SyntaxError: 'return' outside function (<ipython-input-19-6d7cc194e818>, line 5)

In [20]:
def prab(a,b):
    return a+b

In [21]:
reduce(prab,l)

14

In [22]:
reduce(lambda a,b:a+b,l)

14

In [23]:
l

[2, 3, 4, 5]

In [24]:
def pra(a,b):
    if a>b:
        return a
    else:
        return b

In [25]:
reduce(pra,l)

5

In [26]:
reduce(lambda a,b:a if a>b else b,l)

5

In [27]:
l=[2,3,4,5,'prab']
def pra(a):
    if type(a)==int:
        return True
    else:
        return False

In [29]:
list(filter(pra,l))

[2, 3, 4, 5]

In [32]:
list(filter(lambda a:True if type(a)==int else False,l))

[2, 3, 4, 5]

In [1]:
l=[1,2,3,5,8,1,'sudh','kumar']
reduce(lambda a,b:a+b,l)

NameError: name 'reduce' is not defined

In [2]:
from functools import reduce

In [42]:
l=[1,2,3,5,8,1,'sudh','kumar','sudha']
reduce(lambda a,b:str(a)+str(b),l)

'123581sudhkumarsudha'

In [43]:
def pra(n):
    if type(n)==str:
        if n[0,1]=='su':
            return True

In [44]:
list(filter(pra,l))

TypeError: string indices must be integers

In [27]:
list(filter(lambda a:True if type(a)==str and a[0]=='s' else False,l))

['sudh', 'sudha']

In [16]:
def pra(a,b):
    return str(a)+str(b)

In [17]:
reduce(pra,l)

'123581sudhkumar'

In [7]:
try:
    a=20
    b=int(input())
    c=b/a
    print(c)
except Exception as p:
    print(p)

jcgkb
invalid literal for int() with base 10: 'jcgkb'

In [5]:
def pra():
    while True:
        try:
            a=int(input('enter an integer ' ))
            try:
                b=int(input('enter an integer again '))
                print('this is inside try block')
            except Exception as r:
                print('this is inside exc block',r)
        except Exception as p:
            print(p)
            continue
        else:
            print(a)
            print(b)
            break

In [6]:
pra()

enter an integer 234
enter an integer again 425
this is inside try block
234
425

In [5]:
def cust_exc(a):
    if a<5:
        raise Exception('less then 5 bro')

In [8]:
try:
    a=int(input())
    cust_exc(a)
except Exception as q:
    print(q)

3
less then 5 bro

In [3]:
cust_exc(2)

Exception: 2

In [1]:
def cust_exc(a):
    if type(a)==list:
        raise Exception('list not allowed')

In [2]:
try:
    a=list(input())
    cust_exc(a)
except Exception as q:
    print(q)

[2,3,4,99]
list not allowed

In [8]:
cust_exc(1)

Exception: less then 5

In [11]:
def pra(a):
    if a<0:
        raise ValueError('value entered is negative')
try:
    a=int(input())
    pra(a)
except ValueError as w:
    print(w)

-2
value entered is negative

In [12]:
try:
    a=int(input())
    if a<0:
        raise ValueError('val is negative',a)
except ValueError as p:
    print('enter postive  value',p)

-7
enter postive  value ('val is negative', -7)

In [4]:
import math
try:
    a=int(input('enter an integer '))
    if type(a) != int:
        raise ValueError('not an integer',a) 
    elif a<0:
        raise Exception('negative value entered',a)
    else:
        print(math.sqrt(a))
except Exception as e:
    print(e)

enter an integer '745'
invalid literal for int() with base 10: "'745'"

In [ ]:
import math
def pra(a):
    if type(a) != int:
        raise TypeError('not an integer',a) 
    elif a<0:
        raise Exception('negative value entered',a)
    else:
        print(math.sqrt(a))
try:
    a=int(input('enter an integer '))
    pra(a)
except TypeError as e:
    print(e)

In [28]:
def math_operation_via_postman():
        operation='add'
        num1=3
        num2 =5
        if(operation=='add'):
            r=num1+num2
            result= 'the sum of '+str(num1)+' and '+str(num2) +' is '+str(r)
        if (operation == 'subtract'):
            r = num1 - num2
            result = 'the difference of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'multiply'):
            r = num1 * num2
            result = 'the product of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'divide'):
            r = num1 / num2
            result = 'the quotient when ' + str(num1) + ' is divided by ' + str(num2) + ' is ' + str(r)
        return (result)

In [29]:
math_operation_via_postman()

'the sum of 3 and 5 is 8'

# pandas

In [1]:
import pandas as pd

In [2]:
p=pd.read_csv("C:\\Users\\sonbhara1\\Downloads\\sample1.csv")

In [14]:
p.head(2)

,Month,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
0,May,0.1,0,0,1,1,0,0,0,2,0,0,0
1,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1

In [7]:
p.tail(3)

,Month,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
5,Oct,2.0,8,0,1,3,2,5,1,5,2,3,0
6,Nov,0.5,3,0,0,1,1,0,1,0,1,0,1
7,Dec,0.0,1,0,1,0,0,0,0,0,0,0,1

In [6]:
pd.read_csv('C:\\Users\\sonbhara1\\Downloads\\sample1.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Month,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
1,May,0.1,0,0,1,1,0,0,0,2,0,0,0
2,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1
3,Jul,0.7,5,1,1,2,0,1,3,0,2,2,1
4,Aug,2.3,6,3,2,4,4,4,7,8,2,2,3
5,Sep,3.5,6,4,7,4,2,8,5,2,5,2,5
6,Oct,2.0,8,0,1,3,2,5,1,5,2,3,0
7,Nov,0.5,3,0,0,1,1,0,1,0,1,0,1
8,Dec,0.0,1,0,1,0,0,0,0,0,0,0,1

In [8]:
pd.read_csv('C:\\Users\\sonbhara1\\Downloads\\sample1.csv',names=['a','b','c','a1','b1','c1','a2','b2','c2','a3','b3','c3','a4'])

,a,b,c,a1,b1,c1,a2,b2,c2,a3,b3,c3,a4
0,Month,"""Average""","""2005""","""2006""","""2007""","""2008""","""2009""","""2010""","""2011""","""2012""","""2013""","""2014""","""2015"""
1,May,0.1,0,0,1,1,0,0,0,2,0,0,0
2,Jun,0.5,2,1,1,0,0,1,1,2,2,0,1
3,Jul,0.7,5,1,1,2,0,1,3,0,2,2,1
4,Aug,2.3,6,3,2,4,4,4,7,8,2,2,3
5,Sep,3.5,6,4,7,4,2,8,5,2,5,2,5
6,Oct,2.0,8,0,1,3,2,5,1,5,2,3,0
7,Nov,0.5,3,0,0,1,1,0,1,0,1,0,1
8,Dec,0.0,1,0,1,0,0,0,0,0,0,0,1

In [6]:
import pandas as pd
import numpy as np

In [7]:
lable=['a','b','c','d','e']
list_1=[1,2,3,4,5]
array=np.array(list_1)
d={'a':23,'b':33,'c':77}

In [10]:
s1=pd.Series(lable,index=['p','q','r','s','t'])

In [13]:
s1['p']

'a'

In [16]:
s2=pd.Series(d)

In [20]:
s2[0]

23

In [23]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2=pd.Series([1,5,2,4,5],index=['a','b','c','c','e'])

In [25]:
s3=s1+s2

In [31]:
s3[0]

2.0